#Ignore uploading build & node_modules
node_modules
build
#Ignore uploading gif files.
public/images/otter_demo.gif
src/assets/lookhere.png
src/assets/otter_demo.gif
ottersociety.io/
#Ignore all .rar files
*.rar